.idea
**/*.iml
**/*.ipr
**/*.iws
**/*.log
/target/
.classpath
.project
.settings/
QA.status
node/
node_modules/
src/main/resources/static/apidoc/
atlassian-ide-plugin.xml
mqjms.log.*
/target/
/service/target
/.DS_Store
